/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/terraform-aws-multi-stack-backends.iml
/.idea/vcs.xml
/examples/simple/tfstate-s3-manager/.terraform.lock.hcl
/examples/simple/tfstate-s3-manager/.terraform
