/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/terraform-aws-multi-stack-backends.iml
/.idea/vcs.xml

**/.terraform.lock.hcl
**/.terraform
**/terraform.tfstate
**/terraform.tfstate*.backup
/examples/simple/*/backend.tf
/test/go.*
