terraform {
  backend "s3" {
    bucket  = "${tfstate_backends_bucket_id}"
    region  = "us-east-1"
    encrypt = true

    dynamodb_table = "${tfstate_lock_dyndb_table_id}"
    key            = "${tfstate_backends_s3_obj_key}"
  }
}
