{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:GetReplicationConfiguration",
        "s3:ListBucket"
      ],
      "Effect": "Allow",
      "Resource": [
        "${tfstate_backends_bucket_arn}"
      ]
    },
    {
      "Action": [
        "s3:GetObjectVersionForReplication",
        "s3:GetObjectVersionAcl"
      ],
      "Effect": "Allow",
      "Resource": [
        "${tfstate_backends_bucket_arn}/*"
      ]
    },
    {
      "Action": [
        "s3:ReplicateObject",
        "s3:ReplicateDelete"
      ],
      "Effect": "Allow",
      "Resource": "${replica_bucket_arn}/*"
    },
    {
      "Effect": "Allow",
      "Action": [
        "kms:Decrypt"
      ],
      "Resource": "${tfstate_backends_kms_key_arn}",
      "Condition": {
        "StringLike": {
          "kms:ViaService": "s3.${tfstate_backends_region}.amazonaws.com",
          "kms:EncryptionContext:aws:s3:arn": [
            "${tfstate_backends_bucket_arn}/*"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": [
        "kms:Encrypt",
        "kms:GenerateDataKey"
      ],
      "Resource": "${replica_kms_key_arn}",
      "Condition": {
        "StringLike": {
          "kms:ViaService": "s3.${replica_region}.amazonaws.com",
          "kms:EncryptionContext:aws:s3:arn": [
            "${replica_bucket_arn}/*"
          ]
        }
      }
    }
  ]
}
